* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-container {
    min-width: 100%;
}

.logoimg {
    width:200px ; 
    margin-right:250px;
}

@media screen and (max-width: 876px) {
   .logoimg{
    margin-right:150px;
   }
}

@media screen and (min-width: 1450px) {
    .jumbotron, .jumbotron-fluid {
        
        padding-top: 800px;
        padding-bottom: 800px;
        
    }
}

table {
    border-collapse: inherit;
}

body {
    font-family: "Microsoft JhengHei", "Noto Sans TC", "PingFang TC", "Apple LiGothic Medium", Roboto, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    background-color:#FFFAFA;
}

a {
    color: #2d2d2d;
    text-decoration: none;
}

header 
article > header {
    max-width: calc(270/320*100%);
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
       article,
    article > header {
        max-width: 678px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    
    article,
    article > header {
        max-width: 900px;
        margin: 0 auto;
    }
}

header > table {
    width: 100%;
}

article > header > span {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.25;
}

article > header > h1 {
    margin-top: 11px;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.32;
}

article {
    color: #2d2d2d;
}

article > figure {
        margin: 0 0 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    article > figure {
        width: 678px;
        margin-left: auto;
        margin-right: auto;
    }

    .float-right {
        float: left;
        width: 300px;
        margin-top: 40px;
        margin-right: 40px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1024px) {
    article > figure {
        max-width: 100%;
        margin:0 auto;
    }

    .float-right {
        float: right;
        width: 360px;
        margin-top: 40px;
        margin-left: 40px;
        margin-bottom: 50px;
    }
}

article > p,
article > h2,
article > blockquote,
article > ul,
article figcaption,
article > header {
    max-width: calc(270/320*100%);
    margin: 0 auto;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    article > p,
    article > h2,
    article > blockquote,
    article > ul,
    article figcaption,
    
    article > header,
    article > ul {
        width: 550px;
    }
}

@media screen and (min-width: 1024px) {
    article > p,
    article > h2,
    article > blockquote,
    article > ul,
    article figcaption,
    
    article > header {
        max-width: 756px;
    }

    article > ul {
        width: 700px;
    }
}

article > ul {
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}

article > p,
article > blockquote {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.9px;
    margin-top: 40px;
}

article > blockquote {
    padding-left: 21px;
    color: #6d6d6d;
    border-left: 1px solid #6d6d6d;
}

article > h2 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 1.64;
    margin-top: 40px;
}

article figcaption {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #6d6d6d;
    margin-top: 15px;
}

.header {
    background-color:#C4A39D;
    max-width: 100%;
}


.logo {
    width: 100px;
    height: 25px;
    background-color: #e1e1e1;
}

.menu {
    width: 22px;
    height: 22px;
    background-color: #e1e1e1;
}

.author {
    margin-right: 30px;
    font-size: 15px;
    line-height: 2.25;
}

.introduction {
    font-size: 22px;
    line-height: 1.82;
    letter-spacing: 1.6px;
    text-align: justify;
    margin-top: 30px;
}

.related-text {
    font-size: 16px;
    line-height: 2.25;
    text-align: center;
    font-weight: bold;
}

.related-items {
    margin-bottom: 60px;
}

.related-item {
    background-color: #e1e1e1;
    margin-top: 20px;
    padding: 20px;
    cursor: pointer;
}

    .related-item > img {
        width: 20%;
        vertical-align: middle;
    }

    .related-item > div {
        display: inline-block;
        width: 70%;
        padding-left: 20px;
        vertical-align: middle;
        line-height: 1.5;
    }

footer {
    background-color:#DB6346;
    min-height: 200px;
    margin: 0 0 0 0;
}

    footer > table {
        border-spacing: 20px;
        width: 100%;
    }

.footer-circle {
    width: 100px;
    height: 36px;
    margin: 0 auto;
}

.footer-text {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    color:#C4A39D;
    margin:30 5;
}


@media screen and (max-width: 767px) {
    table.hidden-on-mobile {
        display: none;
    }

    table.shown-on-mobile {
        display: table;
    }
}

@media screen and (min-width: 768px) {
    table.hidden-on-mobile {
        display: table;
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
    }

    table.shown-on-mobile {
        display: none;
    }
}
@font-face { 
font-family: "Josefinsans";
src: url("JosefinSans-SemiBold.ttf"); 
}

@font-face {
   font-family:"PingFang-Bold";
   src:url("PingFang-Bold-1.ttf");
}

@font-face{
   font-family:"PingFang-Jian-ChangGuiTi";
   src:url("PingFang-Jian-ChangGuiTi-2.ttf");
}

@font-face{
   font-family:"PingFang-ExtraLight";
   src:url("PingFang-ExtraLight-1.ttf");
}

.mycss{
   font-family:"Josefinsans";
   font-size:20px;
   color:#DB6346;
   text-align:right;     
   padding:5px;
}

.mycss2{
    font-family:"Josefinsans";
    font-size:10px;
    color:#DB6346;
    text-align:left;     
    padding:2.5px;
}

.hh1{
   font-family:"PingFang-Bold";
   color:#DB6346;
}
.span{
   color:#665D5D;
   font-family:"PingFang-Bold";
   font-size:20px;
}
.p{
   font-family:"PingFang-Jian-ChangGuiTi";
   color:#665D5D;
}
.topic in{
   font-family:"PingFang-ExtraLight";
   font-size:20px;
}

ul { /* 取消ul預設的內縮及樣式 */
margin: 0;
padding: 0;
list-style: none;
}

ul.drop-down-menu {
border: #ccc 1px solid;
display: inline-block;
font-family: "PingFang-ExtraLight","Open Sans","Arial", sans-serif;
font-size: 15px;
}

ul.drop-down-menu li {
position: relative;
white-space: nowrap;
border-right: #ccc 1px solid;
}

ul.drop-down-menu > li:last-child {
border-right: none;
}

ul.drop-down-menu > li {
float: left; /* 只有第一層是靠左對齊*/
}

ul.drop-down-menu a {
background-color: #FFFAFA;
color: #DB6346;
display: block;
padding: 0 30px;
text-decoration: none;
line-height: 40px;

}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
background-color: #DB6346;
color: #fff;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
background-color: #DB6346;
color: #fff;
}
ul.drop-down-menu ul {
border: #ccc 1px solid;
position: absolute;
z-index: 99;
left: -1px;
top: 100%;
min-width: 180px;
display:none;
}

ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
display: block;
}

ul.drop-down-menu ul li {
border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
border-bottom: none;
}

ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
z-index: 999;
top: 10px;
left: 90%;
}

.dropdown a {
    color:#DB6346;
    font-family:"JosefinSans";
    font-size:25px;
}

.nav-link {
    display: block;
    padding: .5rem 0rem;
    padding-right: 3rem;
}

.navbar-light .navbar-nav .nav-link {
    color:#DB6346;
    font-family:"JosefinSans";
    font-size:25px;
}

.imgdiv {
    
    width:100%

}

.img1st {
    max-width:100%;
}

.mr-auto, .mx-auto {
    margin-right: 8 !important;
    margin-left: auto;
}

@media (min-width: 1440px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: 400px;
        margin-left: 400px;
        margin-top: 40;
    }
    }

@media (min-width: 576px) and (max-width:1440) {
.card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 40;
}
}

@media (max-width:576px) {
    .imgdiv{
        display: none;
    }
    .card-deck .card {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        
    }
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 14px;
}

.card-text {
    color:#DB6346;
    font-size: 14px;
}

.fullpost{
    width:100%;
    text-align:center; /*設定「繼續閱讀」置中*/
    margin-top:30px; /*設定與文章的距離，可自行調整*/
    font-size:12px; /*設定字體大小，可自行調整*/
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-position:42% 50%; /*設定小圖案的位置，可自行調整*/
}


.card-title {
    margin-bottom: .75rem;
    color: #665D5D;
    font-family: "PingFang-Bold"
}

.mainpage {
    background-color:#665D5D;
    max-width: 100%;
    margin-top:40px;
    
}

.mainpage p {
    color :#C4A39D;
    font-family:"JosefinSans";
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
    
    
}

.imagebutton{
    border-radius: 999rem;
    width: 250px;
    height: 250px;
    font-family: "JosefinSans-SemiBold";
    color:#C4A39D;
    font-weight:bold;
    margin:0 auto;
    padding:0;
}




