

        
       
        .bg {
            background-image: url(水電工banner.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
        

        .bgcolor {
               background-color: #E37E4B

        }
      
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .body{
            font-family: "Microsoft JhengHei";
            background-color:#E37E4B;
            }

        body>header{
            width:100%

        }


        a {
            color: #2d2d2d;
            text-decoration: none;
        }

            article>header {
            max-width: calc(270/320*100%);
            margin: 0 auto;
           
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            header {
                width: 678px;
            }

            article,
            article>header {
                max-width: 678px;
                margin: 0 auto;
            }
        }

        @media screen and (min-width: 1024px) {
            header {
                width: 900px;
            }

            article,
            article>header {
                max-width: 900px;
                margin: 0 auto;
            }
        }

        header>table {
            width: 100%;
        }

        article>header>span {
            font-size: 16px;
            font-weight: bold;
            line-height: 2.25;
            font-family: "Microsoft JhengHei;"
        }

        article>header>h1 {
            margin-top: 11px;
            font-size: 34px;
            font-weight: bold;
            line-height: 1.32;
        }

        article>h1 {
            margin-left:72px;
        }

        
   

        article>figure {
            margin: 40px 0 0 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            article>figure {
                width: 678px;
                margin-left: auto;
                margin-right: auto;
            }

            .float-right {
                float: left;
                width: 300px;
                margin-top: 40px;
                margin-right: 40px;
                margin-bottom: 50px;
            }
        }

        @media screen and (min-width: 1024px) {
            article>figure {
                width: 900px;
                margin-left: auto;
                margin-right: auto;
            }

            .float-right {
                float: right;
                width: 360px;
                margin-top: 40px;
                margin-left: 40px;
                margin-bottom: 50px;
            }
        }

        article>p,
        article>h2,
        article>blockquote,
        article>ul,
        article figcaption,
        article>div,
        article>header {
            max-width: calc(270/320*100%);
            margin: 0 auto;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            article>p,
            article>h2,
            article>blockquote,
            article>ul,
            article figcaption,
            article>div,
            article>header,
            article>ul {
                width: 550px;
            }
        }

        @media screen and (min-width: 1024px) {
            article>p,
            article>h2,
            article>blockquote,
            article>ul,
            article figcaption,
            article>div,
            article>header {
                max-width: 756px;
            }

            article>ul {
                width: 700px;
            }
        }

        article>ul {
            width: 100%;
            list-style-type: none;
            padding-left: 0;
        }

        article>p,
        article>blockquote {
            font-size: 18px;
            line-height: 2.0;
            letter-spacing: 0.9px;
            margin-top: 40px;
        }

        article>blockquote {
            padding-left: 21px;
            color: #6d6d6d;
            border-left: 1px solid #6d6d6d;
        }

        article>h2 {
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 1.1px;
            line-height: 1.64;
            margin-top: 40px;
        }

        article figcaption {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.8px;
            color: #6d6d6d;
            margin-top: 15px;
        }

        .header {
            margin-top: 35px;
            margin-bottom: 35px;
        }

        .logo {
            width: 100px;
            height: 25px;
            background-color: #e1e1e1;
        }

        .menu {
            width: 22px;
            height: 22px;
            background-color: #e1e1e1;
        }

        .author {
            margin-right: 30px;
            font-size: 15px;
            line-height: 2.25;
        }

        .introduction {
            font-size: 22px;
            line-height: 1.82;
            letter-spacing: 1.6px;
            text-align: justify;
            margin-top: 30px;
        }

        .related-text {
            font-size: 16px;
            line-height: 2.25;
            text-align: center;
            font-weight: bold;
        }

        .related-items {
            margin-bottom: 60px;
        }

        .related-item {
            background-color: #e1e1e1;
            margin-top: 20px;
            padding: 20px;
            cursor: pointer;
        }

        .related-item>img {
            width: 20%;
            vertical-align: middle;
        }

        .related-item>div {
            display: inline-block;
            width: 70%;
            padding-left: 20px;
            vertical-align: middle;
            line-height: 1.5;
        }

        footer {
            background-color: #E37E4B;
            min-height: 200px;
        }

        footer>table {
            border-spacing: 45px;
            width: 100%;
        }

        .footer-circle {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: #777;
            margin: 0 auto;
        }

        .footer-text {
            margin-top: 15px;
            font-size: 18px;
            text-align: center;
            color: white;
            margin: 0 auto;
        }


        @media screen and (max-width: 767px) {
            table.hidden-on-mobile {
                display: none;
            }

            table.shown-on-mobile {
                display: table;
            }
        }

        @media screen and (min-width: 768px) {
            table.hidden-on-mobile {
                display: table;
                max-width: 770px;
                margin-left: auto;
                margin-right: auto;
            }

            table.shown-on-mobile {
                display: none;
            }
        }
